<!--
  Generated template for the PaginaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>pagina</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding> -->
<ion-content>
  <p padding>Hola mundo Jaja</p>

  <ion-card>
    <ion-card-header>
      Header
    </ion-card-header>
    <ion-card-content>
      The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Explore Nearby
    </ion-card-header>

    <ion-list>
      <button ion-item>
        <ion-icon name="cart" item-start></ion-icon>
        Shopping
      </button>

      <button ion-item>
        <ion-icon name="medical" item-start></ion-icon>
        Hospital
      </button>

      <button ion-item>
        <ion-icon name="cafe" item-start></ion-icon>
        Cafe
      </button>

      <button ion-item>
        <ion-icon name="paw" item-start></ion-icon>
        Dog Park
      </button>

      <button ion-item>
        <ion-icon name="beer" item-start></ion-icon>
        Pub
      </button>

      <button ion-item>
        <ion-icon name="planet" item-start></ion-icon>
        Space
      </button>

    </ion-list>
  </ion-card>

</ion-content>
